<ion-modal-view>
	<ion-content class="padding loginContent">
		<div class="buttonInMiddle">
			<h3 class="text-center">Create a New Password</h3>
		 	 <div class="list">
			  <label class="item item-input login">
			    <span class="input-label">Password</span>
			    <input type="password" ng-model="password1">
			  </label>
			  <label class="item item-input login">
			    <span class="input-label">Confirm Password</span>
			    <input ng-model="password2" type="password">
			  </label>

			  <button class="button button-block button-submit" ng-click="getNewPassword(password1)" ng-disabled="password1 != password2">Submit</button>
			  <p ng-click="closeModal()" class="text-center cancelCreatePassword">Cancel</p>
			</div>
		</div>
		
	</ion-content>
</ion-modal-view>