<ion-view hide-nav-bar="true">
	<ion-nav-bar class="bar-balanced">
	</ion-nav-bar>
	<ion-content class="loginContent">
		<div class="list space-top padding">
			<div class="logoImageContainer">
				<img class="survivorsLogo" src="img/LOGO.svg">
			</div>
			<!-- <h2 class="text-center">iGotYou</h2> -->

		  <label class="item item-input login">
		    <input type="email"  ng-model="email" placeholder="Email">
		  </label>
		  <label class="item item-input login">
		    <input type="password" ng-model="password" placeholder="Password">
		  </label>
		  <button ng-click="login(email, password)" class="button button-block button-outline button-light" ng-disabled="!email || !password">Login</button>
			<div class="text-center question">
				<a class="loginChoice" href="#/register">Dont have an account?</a>
			</div>
		</div>
	</ion-content>
</ion-view>